@{
	List<Product> products  = Model;
}
<!-- Main content -->
<section class="content">

	<div class="row fx-element-overlay">
		@foreach (var product in products)
		{
			<div class="col-12 col-lg-6 col-xl-4">
				<div class="box">
					<div class="fx-card-item">
						<div class="fx-card-avatar fx-overlay-1">
							<img src="~/assets/images/product/@product.ImageUrl" alt="user" class="bbsr-0 bber-0">
							<div class="fx-overlay scrl-up">
								<ul class="fx-info">
									<li><a class="btn btn-outline image-popup-vertical-fit" href="~/assets/images/product/@product.ImageUrl"><i class="mdi mdi-magnify"></i></a></li>
									<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-delete"></i></a></li>
									<li><a class="btn btn-outline" href="javascript:void(0);"><i class="mdi mdi-settings"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="fx-card-content text-start">
							<div class="product-text">
								<h2 class="pro-price text-blue">$@product.Price</h2>
								<h4 class="box-title mb-0">@product.Name</h4>
								@{
									string description = (product.ShortDescription.Length < 20) ? product.ShortDescription : product.ShortDescription.Substring(0, 20) + "...";
								}
								<small class="text-muted db">@description</small>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box -->
			</div>
		}
	
		

	</div>

</section>
<!-- /.content -->