@model ChangePasswordViewModel
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>My account</h3>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">home</a></li>
                        <li>></li>
                        <li>Change Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="customer_login">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <!--login area start-->
            <div class="col-lg-12 col-md-12">
                <div class="account_form">
                    <h2>Change Password</h2>
                    <div asp-validation-summary="All"></div>
                    <form method="post" asp-action="ChangePassword">
                        <p>
                            <label asp-for="CurrentPassword">Current Password <span>*</span></label>
                            <input asp-for="CurrentPassword">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </p>
                        <p>
                            <label asp-for="NewPassword">NewPassword <span>*</span></label>
                            <input asp-for="NewPassword">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </p>
                        <p>
                            <label asp-for="ConfirmPassword">Confirmed Password <span>*</span></label>
                            <input asp-for="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </p>
                        <div class="login_submit text-center">
                           
                            <button type="submit">Change</button>

                        </div>

                    </form>
                </div>
            </div>
            <!--login area start-->

        </div>
    </div>
</div>
<!-- customer login end -->