@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
}


<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>My account</h3>
                    <ul>
                        <li><a asp-controller="home" asp-action="index">home</a></li>
                        <li>></li>
                        <li>My account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="customer_login">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <!--login area start-->
            <div class="col-lg-8 col-md-8">
                <div class="account_form">
                    <h2>login</h2>
                    <p style="color:#fff;">No account ? <a style="color:#c09578;" asp-controller="account" asp-action="register">Create one here.</a></p>

                    <form method="post" asp-action="forgetPassword">
                        <div asp-validation-summary="All"></div>

                        <p>
                            <label asp-for="Mail">Mail <span>*</span></label>
                            <input asp-for="Mail">
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </p>
                       
                        <div class="login_submit">
                          
                            <button type="submit">SEND</button>

                        </div>

                    </form>

                </div>
            </div>
            <!--login area start-->

        </div>
    </div>
</div>

