@model List<BasketProductViewModel>

@{
    decimal totalPrice = 0;
    foreach (var product in Model)
    {
       totalPrice += product.Price * product.Count;

    }
    }
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr id=@(item.Id+"tbody")>

                                            <td class="product_remove">
                                                <input type="hidden" value="@item.Id" />
                                                <a href="#">
                                                    <i id="remove-from-cart" class="fa fa-trash-o"></i>

                                                </a>
                                            </td>
                                            <td class="product_thumb"><a href="#"><img src="~/assets/img/product/@item.MainImageUrl" alt=""></a></td>
                                            <td class="product_name"><a href="#">@item.Name</a></td>
                                            <td id="product_price" data-id="@item.Price" class="product-price">£@item.Price</td>
                                            <td class="product_quantity">
                                                <label>Quantity</label>
                                                <input id="product-quality" min="0" max="100" value="@item.Count" style=" background-color:#FFF !important;" type="number">
                                                </td>
                                            <td id=@("product-total-price" + item.Id) class="product_total">£@(item.Price * item.Count)</td>


                                        </tr>
                                    }




                                </tbody>
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!--coupon code area start-->
           
            <!--coupon code area end-->
        </form>
    </div>
</div>
<!--shopping cart area end -->
@section Scripts{
    <script>

        $(document).on('click', '#remove-from-cart', function () {
            var productId = $(this).parent().parent().parent().children().children().val();
            console.log(productId)

            $.ajax({
                type: "POST",
                url: "/Basket/DeleteProductBasket",
                data: { productId: productId },
                success: function () {
                    $("#" + productId + "tbody").remove();
                },
                Error: function () {
                    alert("Somthing Wrong");
                }
            });
        });

        $(document).on('change', '#product-quality', function () {
            var productId = $(this).parent().parent().children().children().val();
            var count = $(this).val();
            var price = $("#product_price").attr("data-id");
            var totalPrice = price * count;

            $.ajax({
                type: "POST",
                url: "/Basket/ChangeProductQuality",
                data: { productId: productId, count: count },
                success: function () {
                    $("#" + "product-total-price" + productId).html(totalPrice);
                },
                Error: function () {
                    alert("Somthing Wrong");
                }
            });


        });
    </script>
}