
  @model List<Product>
<!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a asp-controller="home" asp-action="index">home</a></li>
                            <li>></li>
                            <li>shop </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->
    
    <!--shop  area start-->
    <div class="shop_area">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->
                    <!--shop toolbar start-->
                    <div class="shop_toolbar">
                    
                        <div class="orderby_wrapper">
                       
                            <div class="page_amount">
                                <p>Showing @Model.Count of Product results</p>
                            </div>
                        </div>
                    </div>
                    <!--shop toolbar end-->

                    <!--shop tab product start-->
                     <div class="tab-content">
                        <div class="tab-pane grid_view fade show active" id="large" role="tabpanel">
                            <div class="row">
                             @await Component.InvokeAsync("HomeProduct")
                               
                               
                            </div>
                        </div>
                        

                    </div>
                    <!--shop tab product end-->
                   
                    <!--shop wrapper end-->
                </div>
                <div class="col-lg-3 col-md-12">
                   <!--sidebar widget start-->
                @await Component.InvokeAsync("ShopSideBar")
                    <!--sidebar widget end-->
                </div>
            </div>    
        </div>
    </div>